body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 50px;
}
h1 {
    color: #333;
}
body.darkmode {
    background-color: #222;
    color: #fff;
}
body.darkmode h1 {
    color: #f0f0f0;
}